.recover-main {
  height: 100%;
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  .recover-card {
    height: 200px;
    width: 400px;
    mat-card-header{
        display: flex;
        justify-content: center;
    }
    
    .recover-form {
      height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;

      mat-card-actions{
        .btns-content{ 
              display: flex;
              flex-direction: column;
              align-items: center;
              button{
                  margin-top: 5px;
              }
              
          }
      }
      
    }
  }
}

.expand-full{
    width: 100%;
}