<form [formGroup]="formPasswords" (ngSubmit)="changePasswords()" autocomplete="off">
  <div class="row">
    <div class="col-xs-12 col-md-12 col-lg-12">
      <mat-form-field class="full-width" appearance="outline">
        <mat-label>Contraseña Actual</mat-label>
        <input
          matInput
          [type]="hidePassword ? 'password' : 'text'"
          placeholder="Contraseña Actual"
          autocomplete="off"
          formControlName="oldPass"
        />

        <mat-icon matSuffix (click)="hideOldPassword = !hideOldPassword">{{
          hideOldPassword ? "visibility_off" : "visibility"
        }}</mat-icon>
        <mat-error>Ingrese su contraseña actual</mat-error>
      </mat-form-field>
    </div>
    <div class="col-xs-12 col-md-12 col-lg-12">
      <mat-form-field class="full-width" appearance="outline">
        <mat-label>Email</mat-label>
        <mat-icon matSuffix>email</mat-icon>
        <input matInput placeholder="Correo electrónico" type="email" autocomplete="off" formControlName="email" />
        <mat-error *ngIf="errorEmailRequired">Ingrese su correo electrónico</mat-error>
        <mat-error *ngIf="errorEmailFormat">El correo electrónico no tiene el formato adecuado</mat-error>
      </mat-form-field>
    </div>
    <div class="col-xs-12 col-md-12 col-lg-12">
      <mat-form-field class="full-width" appearance="outline">
        <mat-label>Nueva contraseña</mat-label>
        <input
          matInput
          [type]="hidePassword ? 'password' : 'text'"
          placeholder="Nueva contraseña"
          autocomplete="off"
          formControlName="pass"
        />

        <mat-icon matSuffix (click)="hidePassword = !hidePassword">{{
          hidePassword ? "visibility_off" : "visibility"
        }}</mat-icon>
        <mat-error>Ingrese su contraseña</mat-error>
      </mat-form-field>
    </div>
    <div class="col-xs-12 col-md-12 col-lg-12">
      <mat-form-field class="full-width" appearance="outline">
        <mat-label>Confirmar nueva contraseña</mat-label>
        <input
          matInput
          placeholder="Confirmar nueva contraseña"
          type="password"
          [type]="hideConfirmPassword ? 'password' : 'text'"
          autocomplete="off"
          formControlName="confirmPass"
        />
        <mat-icon matSuffix (click)="hideConfirmPassword = !hideConfirmPassword">{{
          hideConfirmPassword ? "visibility_off" : "visibility"
        }}</mat-icon>
        <mat-error *ngIf="formPasswords.get('confirmPass').errors?.required">Campo requerido</mat-error>
        <mat-error *ngIf="formPasswords.get('confirmPass').errors?.isNotEqual"
          >Las contraseñas deben ser iguales</mat-error
        >
      </mat-form-field>
      <div class="cotent-buttom">
        <button mat-raised-button color="primary" class="submit-btn" type="submit" [disabled]="formPasswords.invalid">
          Guardar contraseña
        </button>
      </div>
    </div>
  </div>
</form>
