mat-card{
    margin-top: 10px;
}
.group-head{
    align-items: center;
    p{
        margin: 0;
    }
    .col-btn{
        text-align: right;
    }
}

.group-name{
    background-color: #5E35B1;
    align-items: center;
    padding: 10px;
    color: #fff;
    h3{
        margin: 0;
    }
    .col-img{
        text-align: right;
        img{
            height: 25px;
            width: 25px;
            border-radius: 50%;
        }
    }

}

mat-card-actions{
    padding: 0;
    .row{
        .col{
            display: flex;
            justify-content: center;
            button{
                width: 100%;
            }
        }
    }
}
