.recover-main {
  height: calc(100vh - 64px);
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  .recover-card {
    // height: 200px;
    width: 450px;
    padding: 2em;
    border-radius: 25px;
    box-shadow: 0px 0px 10px -2px rgba(0, 0, 0, 0.07);

    h1 {
      font-family: "Roboto", sans-serif;
      font-weight: 900;
      font-size: 28px;
      text-transform: uppercase;
      color: #512da8;
      margin-bottom: 30px;
      text-align: center;
    }

    .recover-form {
      height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;

      .btns-content {
        display: flex;
        flex-direction: column;
        align-items: center;
        .submit-btn {
          border-radius: 30px;
          padding: 0.5em 2em;
        }
      }
    }
  }
}

.expand-full {
  width: 100%;
}
