mat-toolbar {
  justify-content: space-between;
  align-items: center;

  .content-logo {
    display: flex;
    align-items: center;
  }
}

.iniciar-sesion {
  font-size: 16px;
  text-decoration: none;
}
