<mat-toolbar>
    <mat-toolbar-row>
        <div class="content-logo">
            <img src="assets/images/logo.png" alt="Comfeco Logo" />
        </div>

        <div class="large-menu">
            <a mat-button aria-label="Inicio" class="nav-link" routerLinkActive="active" [routerLink]="['/home']"> Inicio </a>
            <a mat-button aria-label="Comunidades" class="nav-link" routerLinkActive="active" [routerLink]="['/comunities']">
        Comunidades
      </a>
            <button mat-button aria-label="Talleres" class="nav-link">
        Talleres
      </button>
            <button mat-button aria-label="Creadores de contenido" class="nav-link">
        Creadores de contenido
      </button>
        </div>
        <div>
            <button mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
        <mat-icon>notifications</mat-icon>
      </button>
            <a mat-button class="nav-link" *ngIf="isRecoverPasswordPath() || !isLogged else loggedMenu" aria-label="Iniciar Sesion" [routerLink]="['/auth/sign-in']">Iniciar Sesión</a
      >
      <ng-template #loggedMenu>
        <button mat-button [matMenuTriggerFor]="menu">
          <img [src]="currentUser.image != null? currentUser.image : 'assets/images/profile.png'" class="profile-img" alt="Imagen de perfil" /> <span *ngIf="currentUser.nickname">{{ currentUser.nickname }}</span>
        </button>
        <mat-menu #menu="matMenu">
          <a mat-menu-item routerLink="/profile">Mi perfil</a>
          <button mat-menu-item (click)="logOut()">Cerrar Sesión</button>
        </mat-menu>
      </ng-template>
    </div>
  </mat-toolbar-row>
  <mat-toolbar-row class="small-menu">
    <a mat-button aria-label="Inicio" routerLink="/home" routerLinkActive="active" class="nav-movile-link">Inicio</a>
    <a mat-button aria-label="Comunidades" routerLink="/comunities" routerLinkActive="active" class="nav-movile-link"
      >Comunidades</a
    >
    <a mat-button aria-label="Talleres" routerLink="/workshops" routerLinkActive="active" class="nav-movile-link"
      >Talleres</a
    >
    <a
      mat-button
      aria-label="Creadores de contenido"
      routerLink="/content-creators"
      routerLinkActive="active"
      class="nav-movile-link"
      >Creadores</a
    >
  </mat-toolbar-row>
</mat-toolbar>
