<footer>
    <div class="row">
        <div class="col-xs-12 col-md-4">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Repellat incidunt quibusdam, tempore, temporibus libero perspiciatis dignissimos sunt nesciunt repellendus, a error eius officia mollitia ex? Doloribus ea error sapiente illum.
        </div>
        <div class="col-xs-12 col-md-4">
            Lorem ipsum dolor sit, amet consectetur adipisicing elit. Totam, doloremque nihil ullam sed sit repellat quaerat praesentium repudiandae culpa minima dolores, ratione, qui alias ipsum impedit. Quae repellat sit maxime.
        </div>
        <div class="col-xs-12 col-md-4">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Obcaecati laboriosam laudantium incidunt hic velit facere libero voluptas vitae! Hic cum quam id quia est voluptatibus minima explicabo nemo earum? Laboriosam!
        </div>
    </div>
</footer>