.carousel {
  margin: 0 20px;
}

.slick-initialized .slick-slide {
  text-align: center;
}

.slick-initialized .slick-slide:focus {
  outline: none;
}

.slick-slide img {
  display: inline-block;
  vertical-align: middle;
  padding: 10px;
  border-radius: 15px;
}

::ng-deep {
  .slick-prev::before,
  .slick-next::before {
    color: #512da8;
  }
}
