.comunities-wrapper {
  margin: auto !important;
  display: block;
  width: auto;
}

.description-wrapper {
  font-size: 1.1em;
  padding: 0 32px;

  .description-title {
    font-size: 2em;
  }
  .description-subtitle {
    font-size: 1.4em;
  }
}
.section-title {
  font-size: 1.6em;
}


